{% extends 'front/base.html.twig' %}

{% block body %}
    <h1>Super title</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" data-cbox-all>
                </th>
                <th>Toto</th>
                <th>Tata</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="checkbox" data-my-custom-attr="element-line-1">
                </td>
                <td>Oui</td>
                <td>Non</td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" data-my-custom-attr="element-line-2">
                </td>
                <td>Oui</td>
                <td>Non</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
