<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" type="image/png" href="{{ asset('/build/images/favicon.png') }}"/>
        <title>
            {% block title %}
                Administration
            {% endblock %}
        </title>
    
        {% block javascripts %}
            {{ encore_entry_script_tags('back_scripts') }}
        {% endblock %}
    
        {% block stylesheets %}
            {{ encore_entry_link_tags('back_styles') }}
        {% endblock %}
    </head>
    
    <body>
        <div class="row">
            <div class="col-3">
                {% block menu %}
                    {% include 'back/common/menu.html.twig' %}
                {% endblock %}
            </div>
            <div class="col-9 container-fluid pe-4">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
